# Terraform
**/.terraform/*
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/crash.*.log
**/*.tfvars
**/*.tfvars.json

# Local
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Logs
*.log
